.navbar {
    padding: 1rem !important;
    background-color: #e3f2fd
}

.card {
    width: 40%;
    margin:  4rem auto;
}

h5 {
    display: inline-block;
}

.list-msg-box{
    display: inline-block;
    text-align: right;
    font-style: italic;
}

.input-list-title{
    width: 90%;
    font-weight: bold;
    font-size: medium;
    margin: 0 1rem ;
    border: none;
}

.input-list {
    border: none;
    outline: none;
    width: 80%;
}

.checkbox{
    border-radius: .25em !important ;
    
}

#add-list-item {
    margin: 1rem 1rem 0 1rem ;
}

.buttons{
    margin: 0 1rem 1rem 1rem;
}

.delete-item {
    cursor: pointer;
    display: inline-block;
}

.strike {
    text-decoration: line-through;    
}

.footer {
    /* display: flex;
    flex-direction: column; */
    margin-top: auto;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:800px)  {
    .card{
        width: 80%;
    }
}
@media screen and (max-width:520px)  {
    .card{
        width: 0%;
    }
}