
.navbar {
    padding: 1rem !important;
    background-color: #e3f2fd
}

.container {
    margin: 2rem;
}

.notes-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
}

.list-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
}

.input-list-title {
    font-size: medium;
    font-weight: bold;
}

.input-list {
    
    border: none;
    outline: none;
}

.input-title{
    border: none;
    margin: 10px;
    padding: 5px;
    display: block;
    width: 100%;
}

.list-msg-box {
    display: inline-block;
    font-style: italic;
    text-align: right;
    width: 64%;
}

h5{ 
    display: inline;
}

.checkbox{ 
    border-radius: .2em !important;
}

.strike{
    text-decoration: line-through;
}

.list {
    width: 40%;
}

.notes {
    width: 100%;
}
.note-msg-box{
    display: inline;
    font-style: italic;
    text-align: right;
    margin-left: 7rem;
}
.input-content {
    width: 100%;
    border: none;
    margin: 10px;
    padding: 5px;
    height: 5rem;
}

.btn {
    margin: 2px;
}


.outline {
    outline: none;
}

#add-more{
    text-align: right;
    
}
.footer {
    

}