
.navbar {
    padding: 1rem !important;
    background-color: #e3f2fd
}

.container {
    margin: 2rem;
}

.list-row {
    align-items: center;
}

.input-list-title {
    font-size: medium;
    font-weight: bold;
    width: 100%;
}

.input-list {
    border: none;
    outline: none;
    width: 80%;
}

.list-msg-box {
    display: inline-block;
    font-style: italic;
    text-align: right;
    width: 64%;
}

.input-title{
    border: none;
    margin: 10px;
    padding: 5px;
    display: block;
    width: 80%;
}



h5{ 
    display: inline;
}

.checkbox{ 
    border-radius: .2em !important;
}

.strike{
    text-decoration: line-through;
}

.notes {
    width: 80%;
}

.note-msg-box{
    display: inline-block;
    font-style: italic;
    text-align: right;
    width: 80%;
}

.input-content {
    width: 100%;
    border: none;
    margin: 10px;
    padding: 5px;
    height: 5rem;
}

.btn {
    margin: 2px;
}
    
.outline {
    outline: none;
}
